# NYC Taxi Dataset Project - Convert RDD output to CSV

## Overall Steps

**Step 0:** Prerequisites

**Step 1:** Load data, reformat, save data to csv

Note: You must complete DataPrepNew.ipynb, and download the single file containing the RDD output saved as a file called taxi_data.

### Step 0: Prerequisites
You will need a directory containing the following files:
    
    a) a subdirectory called data containing:
    
        1) taxi_data
    
    b) ConvertRDDtoCSV.ipynb (this notebook)

### Step 1: Load data, reformat, save data to csv

In [1]:
import re

In [14]:
num_records_dropped = 0
num_valid_records = 0

# Open file to read from
with open('./data/taxi_data_test','r') as in_fp:
    # Open file to write to
    with open('./data/taxi_data_test.csv','w') as out_fp:
        # Each line is of the format:
        # ((time_cat, time_num, time_cos, time_sin, day_cat, day_num, day_cos, day_sin, weekend, geohash), number of pickups)
        for line_str in in_fp:
            # Bool indicating if record is valid
            write_line_out = False
            
            # Get rid of parens, quotes, spaces
            line_str = re.sub('[()\'\s]', '', line_str)
            line = line_str.split(',')
            
            # Need to check if the datetime info is valid:
            # (i.e. if all the data for is records was present in the original datafile)
            #     If it is valid, line should have length 11
            #     If it is not valid, line should be [None, geohash, number of taxis]
            if len(line) == 15:
            # Need to check the geohash is valid:
            # (i.e. if latitude/longitude was present in the original datafile)
                if line[12] is not None:
                    csv_line = ",".join(line[0:14]) + '\n'
                    write_line_out = True
            
            # Check if the line is valid
            if write_line_out:
                out_fp.write(csv_line)
                num_valid_records += 1
            else:
                num_records_dropped += 1

In [11]:
# See how many records were dropped
print "Number of records dropped",num_records_dropped
# See how many records were valid
print "Number of valid records",num_valid_records

Number of records dropped 0
Number of valid records 7238532

In [12]:
import pandas as pd
names = ["year","month","day","time_cat", "time_num", "time_cos", "time_sin", "day_cat", "day_num", "day_cos", "day_sin", "weekend", "geohash", "pickups"]
dftaxi=pd.read_csv("./data/taxi_data_training.csv", header=None, names=names)
print dftaxi.shape
dftaxi.head()

(7238532, 14)

,year,month,day,time_cat,time_num,time_cos,time_sin,day_cat,day_num,day_cos,day_sin,weekend,geohash,pickups
0,2014,11,10,09:00,0.385417,-0.751840,0.659346,Monday,0.055060,0.940754,0.339090,0,dr5ry5g,1
1,2014,12,4,22:00,0.927083,0.896873,-0.442289,Thursday,0.561012,-0.927417,-0.374029,0,dr5rvnr,3
2,2014,9,15,16:00,0.677083,-0.442289,-0.896873,Monday,0.096726,0.820936,0.571021,0,dr5rs31,1
3,2014,8,14,19:00,0.802083,0.321439,-0.946930,Thursday,0.543155,-0.963464,-0.267839,0,dr5rkyn,2
4,2013,6,21,20:00,0.843750,0.555570,-0.831470,Friday,0.691964,-0.356622,-0.934249,0,dr5rzn9,10

In [13]:
dftaxi = 1